{{ $image := resources.Get "images/logo-uniud-v4.png" }}
<img src="{{ $image.RelPermalink }}" width="{{ $image.Width }}" height="{{ $image.Height }}">

<!--barra di ricerca -->
<!--<input type="text" id="searchInput" placeholder="Search...">
<br>
<button onclick="search()">Search</button> -->
<!--
<div id="results"></div>
<br>-->
<section>
    <h4 style="font-size: 1.5em; margin-top:1.5em; margin-bottom: 1em;">News & Events</h4>
    <ul class="links">
        <h6><a href="/lord-of-the-orings/">LORD OF THE ORINGS (CVE-2022-3203): Vulnerability Analysis of an Industrial Access Point</a></h6>
        <hr class="separator">
        <h6><a href="/new-members-of-the-mads-lab/">New members of the MADS lab</a></h6>
        <hr class="separator">
        <h6><a href="/two-fellowship-grants-it-matters/">We are hiring! Two fellowship grants within the “IT MATTERS” project</a></h6>
        <hr class="separator">
        <h6><a href="/easters-eve/">“Easter’s Eve”: new version of jLibBig released</a></h6>
        <hr class="separator">
        <h6><a href="/it-matters-starts/">IT MATTERS starts!</a></h6>
    </ul>
    <footer>
        <br>
        <a href="https://mads.uniud.it/feed"> RSS feed</a>
        <!--    <br>
        <a href="#" class="button">More Random Links</a>-->
    </footer>
</section>